@{
    ViewBag.Title = "За нас";
}
<h1 class=" col-sm-offset-4">@ViewBag.Title</h1>

<div class="col-md-offset-3">
    <a class="btn btn-default " href="https://github.com/koksiBG">
        <img src="@Url.Content("~/Content/Images/Admin/Niki.jpg")" /> &raquo;
    </a>

    <a class="btn btn-default " href="https://github.com/MarielaBN">
        <img src="@Url.Content("~/Content/Images/Admin/Mariela.jpg")" /> &raquo;
    </a>

    <a class="btn btn-default " href="https://github.com/ValeriVK">
        <img src="@Url.Content("~/Content/Images/Admin/Valeri.jpg")" /> &raquo;
    </a>
</div>

<div class=" col-md-offset-2">
    <br />
    Бургаски екип от 3-ма студенти в SoftUni и това е нашият първи екипен проект.
</div>
